TESTOVAC_FRONT_DATABASE_NAME=testovac
TESTOVAC_FRONT_DATABASE_USER=testovac
TESTOVAC_FRONT_DATABASE_PASSWORD=v_env_aj_dc_ma_byt_rovnake_heslo
TESTOVAC_FRONT_SECRET_KEY=tu_si_nieco_nahodne_vygeneruj
TESTOVAC_FRONT_ALLOWED_HOSTS=localhost
TESTOVAC_FRONT_STATIC_ROOT=/app/testovac/static/
TESTOVAC_FRONT_MEDIA_ROOT=/testovac/media/
TESTOVAC_FRONT_TASK_STATEMENTS_PATH=/testovac/statements/
TESTOVAC_FRONT_SUBMIT_PATH=/testovac/submit/
TESTOVAC_FRONT_ADMINS=jano@trojsten.sk
TESTOVAC_FRONT_JUDGE_INTERFACE_IDENTITY=ADHOC
TESTOVAC_FRONT_JUDGE_ADDRESS=element.ksp.sk
TESTOVAC_FRONT_JUDGE_PORT=12349