Django==2.2.25
psycopg2-binary==2.8.5
django-easy-select2==1.5.7
Markdown==3.2.2
Pillow==7.2.0
django-bootstrap-form==3.4
django-nyt==1.1.5
django-sekizai==1.1.0
django-sendfile==0.3.11
sorl-thumbnail==12.6.3
wiki==0.6
django-trojsten-news==0.2.2
Unidecode==1.1.1
constants==0.6.0
django-dotenv==1.4.2
django-debug-toolbar==2.2
django-sortedm2m
django-autoslug==1.9.8
django-taggit==1.3.0
sqlparse==0.3.1
trojsten-judge-client==1.0.2
pre-commit==2.6.0
