Django==2.0.13
psycopg2-binary==2.8.5
django-easy-select2==1.5.7
Markdown==3.0.1
Pillow==5.4.0
django-bootstrap-form==3.4
django-nyt==1.1
django-sekizai==1.1.0
django-sendfile==0.3.11
sorl-thumbnail==12.6.3
wiki==0.5
django-trojsten-news==0.2.2
Unidecode==1.1.1
constants==0.6.0
django-dotenv==1.4.2
django-debug-toolbar==2.2
django-sortedm2m==1.5.0
django-autoslug==1.8.0
django-taggit==0.24.0
sqlparse==0.4.4
trojsten-judge-client==1.0.2
pre-commit==1.18.3
django-js-asset==1.2.3
django-classy-tags==1.0.0
