{% extends 'testovac/base.html' %}

{% load i18n %}
{% load achievements_tags %}
{% load humanize %}

{% block title %}{% trans 'Achievements' %}{% endblock %}

{% block page_header %}
    <ul class="nav nav-pills">
        <li class="pull-left">
            <h1>{% trans 'Achievements' %}</h1>
        </li>
        {% if user.is_staff %}
            <li class="pull-right">
                
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-nav" href="{% url 'admin:achievements_achievementtaskset_add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Create new task set with achievement' %}
                    </a>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block page_content %}
<table class="table achievements">
    {% for achievement in achievements %}
    <tr class="{% cycle 'highlighted' '' %}">
        <td class="checkmarks col-xs-1">
            {% if achievement|is_in:request.user.achievements.all %}<span title="You have earned this achievement">✔</span>{% endif %}&nbsp;
        </td>
        <td class="achievement col-xs-4">
            {% include "achievements/achievement.html" %} × {{ achievement.user.count|intcomma }}&nbsp;
        </td>
        <td class="achievement_description col-xs-7">{{ achievement.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
